doctype/xprefd.dtd

<!-- Copyright (©) 2015 Brennced. All rights reserved. -->

<!-- Document Type Definition for XPrefD (Extensible Markup Language Preferences Document)

<!-- 
Doctype usage:
  <?xml version="1.0" encoding="utf-8" ?>
  <!DOCTYPE xpref SYSTEM "http://brennced.github.io/misc/doctype/xprefd.dtd">
-->

<!ELEMENT settings "settings">
<!ELEMENT control "control" (which)>
<!ELEMENT property "property">
<!ELEMENT setting "setting" (name,value)>
